body, ul, li, h1, h2, a{
    margin: 0;
    padding: 0;
} 
@font-face{
    font-family: supercell;
    src: url(/fonts/Supercell-Magic_5.ttf);
}
header{
    background-color: #dd2727;
    text-align: center;
    padding: 5px;
    position: fixed;
    width: 100%;
    z-index: 1;
    top: 0;
    left: 0;
    font-family: supercell;
}
header h1{
    color: white;
    /* border: 8px solid white; */
    padding: 6px 12px;
    display: inline-block;
    /* border-radius: 30px; */
}
.banner{
    position: relative;
    top: -27;
}
.banner img{
    width: 100%;
    height: 85%;
}
.banner .welcome{
    position: absolute;
    left: 0;
    top: 20%;
    background-color: #f4f4f4;
    color:#20706D;
    padding: 30px;
    font-family: supercell;
}
.banner h2 {
    font-size: 45px;
}
.banner h2 span{
    font-size: 1.3em;
}
nav{
    background-color: #f4f4f4;
    padding: 20px;
    position: sticky;
    top: 65px;
}
nav ul{
    white-space: nowrap;
    max-width: 1200px;
    margin: 0 auto;
}
nav li{
    width: 25%;
    display: inline-block;
    font-size: 24px;
}
nav a{
    text-decoration: none;
    color: #4b4b4b;
    font-family: supercell;
}
/* nav li a.joins{
    color: crimson;
} */
main{
    max-width: 100%;
    width: 1200px;
    margin: 80px auto;
    padding: 0 40px;
    box-sizing: border-box;
}
article h2{
    color:#20706D;
    font: bold;
    font-size: 48px;
}
article p{
    line-height: 2em;
    color: #4b4b4b;
}
.images{
    text-align: center;
    margin: 80px 0;
    white-space: nowrap;
}
.images li{
    display: inline-block;
    width: 40%;
    margin: 20px 5%;
}
.images li img{
    width: 100%;
    height: 50%;
}
.images br{
    display: none;
}
.join{
    background-color: #f4f4f4;
    text-align: center;
    padding: 60px 20px;
    color: #4b4b4b;
}
.join h2{
    font-size: 36px;
    font-family: supercell;
    color: #dd2727;
}
form input{
    margin: 20px 0;
    padding: 10px 20px;
    font-size: 24px;
    border-radius: 28px;
    border: 4px solid white;
}
footer{
    background-color: #dd2727;
    padding: 10px;
    color: white;
    text-align: center;
}

/* pseudo classes */

nav li a:hover{
    padding: 20px;
    background-color: crimson;
    color: black;
}
.images li:hover{
    position: relative;
    top: -4px;
}
form input:focus{
    border: 4px dashed #4b4b4b;
    outline: none;
}
form input:valid{
    border: 4px solid #5acc5a;
}
article p::first-letter{
    font-size: 1.5em;
}
p::selection{
    background-color: #dd2727;
    color: white;
}

/* responsive media queries */

@media screen and (max-width: 1285px){
    
    nav li{
        font-size: 18px;
    }
}
@media screen and (max-width: 1147px){
    .banner .welcome h2{
        font-size: 40px;
    }
}
@media screen and (max-width: 1025px){
   .banner .welcome h2{
       font-size: 30px;
   } 
   nav li{
    font-size: 20px;
    position: relative;
    display: block;
    width: 100%;
    margin: 12px 0;
   }
}
@media screen and (max-width: 789px){
    .banner .welcome{
        position: relative;
        text-align: center;
        padding: 10px;
    }
    .banner .welcome br{
        display: none;
    }
    .banner .welcome h2{
        font-size: 20px;
    }
    .banner .welcome span{
        font-size: 1em;
    }
    .images li{
        width: 100%;
        margin: 20px auto;
        display: block;
    }
    header{
        position: relative;
    }
    .banner{
        top: -95;
    }
    nav{
        top: 0;
    }
    nav li a:hover{
        padding: 10px;
        background-color: crimson;
        color: black;
    }
    article h2{
        font-size: 24px;
    }
}